@namespace FabOS.WebServer.Components.Shared
@using FabOS.WebServer.Models
@using Microsoft.AspNetCore.Components

<div class="fabos-filter-system">
    <div class="fabos-filter-header">
        <span>Filters (Coming Soon)</span>
    </div>
</div>
