@namespace FabOS.WebServer.Components

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="FabOS.WebServer.styles.css" />
    <link rel="stylesheet" href="css/pdf-takeoff-viewer.css" />
    <link rel="stylesheet" href="css/modal-infrastructure.css" />
    <link rel="stylesheet" href="css/sharepoint-modal.css" />
    <link rel="stylesheet" href="css/sharepoint-file-browser.css" />
    <link rel="stylesheet" href="css/table-column-management.css" />
    <link rel="stylesheet" href="css/table-filter-system.css" />
    <link rel="stylesheet" href="css/table-view-preferences.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <!-- PDF.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
    <script>
        // Set PDF.js worker
        pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.worker.min.js';
    </script>
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/pdf-takeoff-viewer.js"></script>
    <script src="js/modal-helpers.js"></script>
    <script src="js/table-column-freeze.js"></script>
    <script src="js/pdf-viewer-interop.js"></script>
</body>

</html>
