@namespace SteelEstimation.Web.Components.Shared.Common
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components
@using SteelEstimation.Core.Models

<div class="generic-list-view">
    <div class="list-container">
        @if (Items?.Any() == true)
        {
            @foreach (var item in Items)
            {
                <div class="list-item @ListClass" @onclick="() => OnItemClick.InvokeAsync(item)">
                    @if (ListItemTemplate != null)
                    {
                        @ListItemTemplate(item)
                    }
                    else
                    {
                        <div class="list-item-content">
                            @item?.ToString()
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div class="alert alert-info">
                <i class="fas fa-info-circle me-2"></i>
                No items found.
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public IEnumerable<object>? Items { get; set; }
    [Parameter] public RenderFragment<object>? ListItemTemplate { get; set; }
    [Parameter] public EventCallback<object> OnItemClick { get; set; }
    [Parameter] public string? ListClass { get; set; }
}